/*
.formOrigin{
	background-color: pink;
	width: 60%;
	margin: 0 auto;	
	display: block;
}
*/

.container {
	position: relative;	
}

.formCase {
	position: absolute;
	top: 5%;
	left: 5%;
}

.writeDestination {
	height: 8%;
	font-size: 2rem;
	width: 111%;
}

.info {
	width: 20%;
	background-color: lightgreen;
	height: 50%;
	position: absolute;
	top: 15%;
	left: 5%;
	opacity: 0.7;
	padding: 2%;
	border-radius: 25px;
	box-sizing: border-box;
	font-style: italic;

}

.summary{
	width: 90%;
	height: 90%;
	font-size: 2em;
	display: block;
	margin: 0 auto;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

.eurMap{
	width: 100%;
	display: block;
	margin: 0 auto;
}

.cityClass {
	position: absolute;
	color: white;
	font-size: 1.5rem;
	text-decoration: none;
}

.madrid {
	top:68%;
	left:35%;
}

.london {
	top:41%;
	left: 38%;
}

.paris {
	top:47%;
	left: 40%;
}

.rome {
	top:41%;
	left: 38%;
}

.rome {
	top:63%;
	left: 49%;
}

.brussels {
	top:43%;
	left: 42%;
}

.amsterdam {
	top:39%;
	left: 42%;
}

.berna {
	top:52%;
	left: 42%;
}


.berlin {
	top: 39%;
	left: 49%;
}

.athens {
	top:71%;
	left: 58%;
}
