/*.ilblock{
	display: inline-block;
}*/

.block{
	display: block;
}

.round-btn	{
	margin-bottom: 10px;
}

.addDest-btn	{
				margin-bottom: 10px;
}

.remDest-btn	{
				margin-bottom: 10px;
}

/*.inputText	{
			display: inline-block;
			margin-bottom: 10px;
}*/

.tag {
	margin-bottom: 20px;
}

.origin_tag {
	display: block;
}

.destination_tag {
	display: block;
}

/*.dest2-input	{
				float: left;
				margin-right: 4px;
}*/

.form 	{
		position: absolute;
		top: 250px;
		right: 10px;
		z-index: 7;
}

.divInputs	{
			width: 330px;
}

.hidden {
	display: none;
}






/*

#goButton {
	width: 100px;
	height: 25px;
}

.ilblock{
	display: inline-block;
}

.block{
	display: block;
}

.round-btn	{
			margin-bottom: 10px;
}

.addDest-btn	{
				float: left;
				position: relative;
				top: 6px;
}

.remDest-btn	{
				float: right;
				position: relative;
				bottom: 10px;
				right: 80px;
}

.inputText	{
			display: inline-block;
			margin-bottom: 10px;
}

.dest2-input	{
				float: left;
				margin-right: 4px;
}

.form 	{
		position: absolute;
		top: 110px;
		right: 10px;
		z-index: 7;
}

.divInputs	{
			width: 330px;
}*/
