/*Países imágenes*/

#mapamundo {
	display: block;
}



.spain {
	display: block;
	position: absolute;
	top: 24.4%;
	left: 41.9%;
}

.spaingreen {
	display: block;
	position: absolute;
	top: 24.4%;
	left: 41.9%;
}

.spainyellow {
	display: block;
	position: absolute;
	top: 24.4%;
	left: 41.9%;
}

.spainred {
	display: block;
	position: absolute;
	top: 24.4%;
	left: 41.9%;
}



.portugal {
	display: block;
	position: absolute;
	top: 26.75%;
	left: 41.4%;
}

.portugalgreen {
	display: block;
	position: absolute;
	top: 26.75%;
	left: 41.4%;
}

.portugalyellow {
	display: block;
	position: absolute;
	top: 26.75%;
	left: 41.4%;
}

.portugalred {
	display: block;
	position: absolute;
	top: 26.75%;
	left: 41.4%;
}

.francia {
	display: block;
	position: absolute;
	top: 20.1%;
	left: 43.6%;
}

.franciagreen {
	display: block;
	position: absolute;
	top: 20.1%;
	left: 43.6%;
}

.franciayellow {
	display: block;
	position: absolute;
	top: 20.1%;
	left: 43.6%;
}

.franciared {
	display: block;
	position: absolute;
	top: 20.1%;
	left: 43.6%;
}

.unitedkingdom {
	display: block;
	position: absolute;
	top: 12.8%;
	left: 42%;
}

.unitedkingdomgreen {
	display: block;
	position: absolute;
	top: 12.8%;
	left: 42%;
}

.unitedkingdomyellow {
	display: block;
	position: absolute;
	top: 12.8%;
	left: 42%;
}

.unitedkingdomred {
	display: block;
	position: absolute;
	top: 12.8%;
	left: 42%;
}

.italia {
	display: block;
	position: absolute;
	top: 23.6%;
	left: 45.7%;
}

.italiagreen {
	display: block;
	position: absolute;
	top: 23.6%;
	left: 45.7%;
}

.italiayellow {
	display: block;
	position: absolute;
	top: 23.6%;
	left: 45.7%;
}

.italiared {
	display: block;
	position: absolute;
	top: 23.6%;
	left: 45.7%;
}

.suiza {
	display: block;
	position: absolute;
	top: 21.9%;
	left: 45.9%;
}

.alemania {
	display: block;
	position: absolute;
	top: 17%;
	left: 45.9%;
}

.alemaniagreen {
	display: block;
	position: absolute;
	top: 17%;
	left: 45.9%;
}

.alemaniayellow {
	display: block;
	position: absolute;
	top: 17%;
	left: 45.9%;
}

.alemaniared {
	display: block;
	position: absolute;
	top: 17%;
	left: 45.9%;
}

.luxemburgo {
	display: block;
	position: absolute;
	top: 20.9%;
	left: 46%;
}

.belgica {
	display: block;
	position: absolute;
	top: 19.5%;
	left: 45.1%;
}

.holanda {
	display: block;
	position: absolute;
	top: 18.4%;
	left: 45.35%;
}

.holandagreen {
	display: block;
	position: absolute;
	top: 18.4%;
	left: 45.35%;
}

.holandayellow {
	display: block;
	position: absolute;
	top: 18.4%;
	left: 45.35%;
}

.holandared {
	display: block;
	position: absolute;
	top: 18.4%;
	left: 45.35%;
}

.austria {
	display: block;
	position: absolute;
	top: 21.8%;
	left: 46.9%;
}

.india {
	display: block;
	position: absolute;
	top: 30.8%;
	left: 63.6%;
}

.indiagreen {
	display: block;
	position: absolute;
	top: 30.8%;
	left: 63.6%;
}

.indiayellow {
	display: block;
	position: absolute;
	top: 30.8%;
	left: 63.6%;
}

.indiared {
	display: block;
	position: absolute;
	top: 30.8%;
	left: 63.6%;;
}

.turquia {
	display: block;
	position: absolute;
	top: 24%;
	left: 51.8%;
}

.turquiagreen {
	display: block;
	position: absolute;
	top: 24%;
	left: 51.8%;
}

.turquiayellow {
	display: block;
	position: absolute;
	top: 24%;
	left: 51.8%;
}

.turquiared {
	display: block;
	position: absolute;
	top: 24%;
	left: 51.8%;
}

.china {
	display: block;
	position: absolute;
	top: 14%;
	left: 66%;
}

.chinagreen {
	display: block;
	position: absolute;
	top: 14%;
	left: 66%;
}

.chinayellow {
	display: block;
	position: absolute;
	top: 14%;
	left: 66%;
}

.chinared {
	display: block;
	position: absolute;
	top: 14%;
	left: 66%;
}

.australia {
	display: block;
	position: absolute;
	top: 66%;
	left: 76%;
}

.australiagreen {
	display: block;
	position: absolute;
	top: 66%;
	left: 76%;
}

.australiayellow {
	display: block;
	position: absolute;
	top: 66%;
	left: 76%;
}

.australiared {
	display: block;
	position: absolute;
	top: 66%;
	left: 76%;
}

.eeuu {
	display: block;
	position: absolute;
	top: 14%;
	left: 11%;
}

.eeuugreen {
	display: block;
	position: absolute;
	top: 14%;
	left: 11%;
}

.eeuuyellow {
	display: block;
	position: absolute;
	top: 14%;
	left: 11%;
}

.eeuured {
	display: block;
	position: absolute;
	top: 14%;
	left: 11%;
}

.mexico {
	display: block;
	position: absolute;
	top: 31%;
	left: 12%;
}

.mexicored {
	display: block;
	position: absolute;
	top: 31%;
	left: 12%;
}

.display {
	display: none;
}