<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="./madrid.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="madrid.css">
	<title>Madrid</title>
</head>
<body>
	<div id="maindiv">
		<header class="header">

			<p class="toptitle">Madrid - Spain</p>
		</header>
	<!-- Images //-->
		<div class="imgdiv">
			<img src="./img/image1.jpg" width="100%" height="500" name="madrid" class="madrid" id="madrid">
			<div class="imgdetails">
				<h3 class="txtdetails">Lorem lo peta</h3>
				<p class="txtdetails">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur voluptatibus omnis quia impedit nihil veniam possimus aspernatur rem similique, deleniti aliquid consequuntur veritatis nulla eligendi assumenda, eaque nostrum, inventore alias.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias asperiores debitis esse, nam, aperiam inventore. Eveniet distinctio, ullam veniam ab? At, culpa voluptatum vitae, dignissimos fugiat eligendi error iste!
				</p>
			</div>
		</div>
	<!-- Prices //-->
		<section class="sections oddsections">
			<h3 class="pricetitle">The best prices on the market</h3>
		</section>
	<!-- Information //-->
		<section class="sections evensections">

		</section>
	<!-- Videos //-->
		<section class="sections oddsections">
			
		</section>
	</div>
</body>
</html>