<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ERROR</title>
</head>
<body>
	<h2 style="text-align:center;margin-top:100px">Make sure your printer is connected and installed correctly!</h2>
	<img src="/assets/printer_broken.png" style="display:block;margin:auto">
</body>
</html>