<header>

	<div class="logIn">
		<p class="e-mail-text">E-mail:</p>
		<input type="e-mail" class="logIn-input">
		<p class="password-text">Password:</p>
		<input type="text" class="password-input">
		<a href="" class="signUp-btn">Sign Up</a>
		<button type="submit" class="logIn-btn">Log In</button>
	</div>

	<%= image_tag "logodms200.png", class: "logo" %>



</header>

<h1 class="title">City under construction</h1>

<%= image_tag "grua.jpg", class:"grua" %>

