<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="./css/reset.css" />
	<link rel="stylesheet" type="text/css" href="./css/summarycss.css" />
	<script type="text/javascript" src="./JavaScript/jquery-2.1.1.min.js"></script>
	<script defer type="text/javascript" src="../JavaScript/dataBase_funcionalities.js"></script>
	<script type="text/javascript" src="./JavaScript/datos_en_summary.js"></script>
</head>
<body>
	<header>
		<img src="./images/Mapas/logo150.png">
	</header>
	<section class="resumen">
		<span class="span_origen">MADRID</span>
		<span class="span_pais_origen">ESPAÑA</span>
		<span class="span_destino">PARÍS</span>
		<span class="span_pais_destino">FRANCIA</span>
	</section>
	<ul class="lista_resumen_vuelos">
		<li>
			<table class="table_vuelos">
				<tr>
					<th class="ciudad_origen display_inline_block">
						Origen
					</th>
					<th class="ciudad_destino display_inline_block">
						Destino
					</th>
					<th class="fecha_vuelo_salida display_inline_block">
						Fecha Salida
					</th>
					<th class="hora_vuelo_salida display_inline_block">
						Hora Salida
					</th>
					<th class="fecha_vuelo_llegada display_inline_block">
						Fecha Llegada
					</th>
					<th class="hora_vuelo_llegada display_inline_block">
						Hora Llegada
					</th>
					<th class="duracion display_inline_block">
						Duración
					</th>
					<th class="aerolinea display_inline_block">
						Aerolínea
					</th>
				</tr>

				<tr class="vuelo_resumen display_inline_block">
					<td class="ciudad_origen display_inline_block">
						Madrid
					</td>
					<td class="ciudad_destino display_inline_block">
						Paris
					</td>
					<td class="fecha_vuelo_salida display_inline_block">
						06 Nov
					</td>
					<td class="hora_vuelo_salida display_inline_block">
						14:30
					</td>
					<td class="fecha_vuelo_llegada display_inline_block">
						06 Nov
					</td>
					<td class="hora_vuelo_llegada display_inline_block">
						16:30
					</td>
					<td class="duracion display_inline_block">
						02h 00m 
					</td>
					<td class="aerolinea display_inline_block">
						DMS Trips
					</td>
				</tr>

				<tr class="vuelo_resumen display_inline_block">
					<td class="ciudad_origen display_inline_block">
						Paris
					</td>
					<td class="ciudad_destino display_inline_block">
						Madrid
					</td>
					<td class="fecha_vuelo_salida display_inline_block">
						09 Nov
					</td>
					<td class="hora_vuelo_salida display_inline_block">
						14:30
					</td>
					<td class="fecha_vuelo_llegada display_inline_block">
						09 Nov
					</td>
					<td class="hora_vuelo_llegada display_inline_block">
						16:30
					</td>
					<td class="duracion display_inline_block">
						02h 00m 
					</td>
					<td class="aerolinea display_inline_block">
						DMS Trips
					</td>
				</tr>
			</table>
			
		</li>
		
	</ul>
	<table class="tableprecio">
			<tr>
				<td class="tdprecio">
					Precio
				</td>
			</tr>
			<tr>
				<td class="tdpreciocantidad">
					300 €
				</td>
			</tr>
	</table>
	<div class="boton_reservar">
		<a href="" class="reservar">Reservar</a>
	</div>
	
	
</body>
</html>



