header{
	width: 100%;
	/*padding-top: 2rem;*/
	padding-bottom: 1rem;
	background-image: url(../images/professionalpattern.jpg);
	background-size: 100%;
	border-bottom: 1px solid black;
}

body {
	width: 100%;
	height: 1000px;
	/*background-image: url(../images/nubes.jpg);*/
	/*background-size: 100% 100%*/
	background-color: #707070;
}

footer 	{
		width: 100%;
		height: 150px;
		background-color: white;
		position: relative;
		bottom: -70px;
		border-top: 1px solid black;
}

.divLeft	{
			width: 165px;
			height: 620px;
			position: absolute;
			float: left;
			left: 0px;
			top: 230px;
			/*background-color: white;*/
			background-image: url(../images/nubes.jpg);
			border-right: 1px solid black;
}

.divRight	{
			width: 165px;
			height: 620px;
			position: absolute;
			float: right;
			right: 0px;
			top: 230px;
			/*background-color: white;*/
			background-image: url(../images/nubes.jpg);
			border-left: 1px solid black;
}

/* Oval behind the map */

.oval 	{
		height: 550px;
		position: relative;
		border-radius: 55%;
		top: 70px;
		}


.bd {
	width: 75%;
	/*margin-left: 75px;*/
	position: relative;
	top: 61px;
	left: 170px;
}

#checkbox_id {
	display:inline-block;
	vertical-align: top;
}

/* Header */

.logo{
	background-color: darkblue;
	width: 10%;
	height: 2rem;
	font-size: 1.3rem;
	border: 2px solid white;
	border-radius: 1rem;
	padding: 0.5rem;
	vertical-align: top;
	color: white;

}

.slogan{
	background-color: darkblue;
	width: 40%;
	font-size: 1.75rem;
	border: 2px solid white;
	border-radius: 1rem;
	padding: 0.5rem;
	vertical-align: top;
	color: white;
}

.account{
	background-color: darkblue;
	width: 12%;
	list-style: none;
	border-radius: 1rem;
	border: 2px solid white;
	font-size: 1rem;
	padding: 0.5rem;
	vertical-align: top;
}

.aStyle{
	color: white;
}

.section1{
	width: 75%;
	margin: 0 auto;
	height: 15rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
	text-align: center;

}

/* Footer */

.imgFooter	{
			display: inline-block;
			position: relative;
			top: 10px;
			left: 100px;
			margin-left: 140px;
}

.footerList	{
			list-style: none;
			position: relative;
			left: 300px;
			top: 54px;
}

.footerList li 	{
				display: inline-block;
				margin-left: 100px;
				}

.footerList li > a {
					color: black;
					text-decoration: none;
}

.footerList li > a:hover 	{
							color: grey;
}
