/*#nav{
    list-style:none;
    font-weight:bold;
    margin-top: 2rem;
    float:left; /* Clear floats 
    width:100%;
}

#nav {
    background-color: #222;
}*/

#nav {
    width: 960px;
    margin-left: 20px;
    text-align: left;
}

.menuitems {
    display: inline-block;
    vertical-align: top;
    margin-right: 100px
}

p {
    font-size: 20px;
    color: orange;
}

#nav ul input{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}

.menuitems:hover ul{ 
    display: inline-block;
}

.costfilters {
    display: none;
    position: absolute;
    border-top: 0;
    background-color: grey;
    margin-top: 10px;
}

.themefilters {
    display: none;
    position: absolute;
    border-top: 0;
    margin-top: 10px;
}

#nav ul ul input {
    display: block;
}

/*#nav ul ul input, visited {
    color: #ccc;
}

#nav ul ul input:hover {
    color: #099;
}
