.franceDiv	{
			width: 18px;
			height: 18px;
			position: absolute;
			top: 451px;
			left: 617px;
			border-radius: 10%;
			transform: scale(1);
			transition: all 0.5s;
			}

.franceDiv:hover	{
					transform: scale(3);
					background-color: rgba(255, 255, 255, 0.5);
					height: 60px;
					width: 85px;
					}

.francetitle	{
				display: none;
				text-align: center;
				margin-top: 5%;
				font-size: 8px;
				}

.franceDiv:hover .francetitle	{
								display: block;
								}

.citiesFranceOne	{
					width: 29px;
					height: 35px;
					display: none;
					position: absolute;
					top: 12px;
					left: 4px;
					font-size: 5px;
					}

.citiesFranceTwo	{
					width: 29px;
					height: 35px;
					display: none;
					position: absolute;
					top: 12px;
					left: 43px;
					font-size: 5px;
					}

.franceDiv:hover .citiesFranceOne	{
									display: block;
									float: left;
									}

.franceDiv:hover .citiesFranceTwo	{
									display: block;
									float: right;
									}

.ulOne	{
		position: absolute;
		top: 2px;
		left: 2px;
		width: 40px;
		}

.ulTwo	{
		position: absolute;
		top: 2px;
		left: 2px;
		width: 35px;
		}

.cityLinks	{
			margin-bottom: 3px;
			}

.addBut	{
		display: none;
		font-size: 3px;
		width: 13px;
		padding: 0px;
		margin: 0px;
		margin-right: 2px;
		}

.franceDiv:hover .addBut	{
							display: inline-block;
							}