/* Utilities */

.vertical	{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			}


/* Mapa Mundi */

body	{
		/*height: 100%;*/
		}

.mundi	{
		width: 100%;
		height: 100%;
		/*background-image: url(./img/mundi/mapa.jpg);*/
		background-size: 100%;
		background-repeat: no-repeat;
		position: relative;
		/*border-bottom: 5px solid grey;*/
		}

.imgmundi	{
			width: 100%;
			float: right;
			}



/* POPUP */

#mask	{
  		position:absolute;
 		left:0;
 		top:0;
  		z-index:9000;
  		background-color: #C8C8C8;
 		display:none;
		}

#boxes .window 	{
  				position:absolute;
  				left:0;
  				top:0;
  				width:440px;
  				height:200px;
  				display:none;
  				z-index:9999;
  				padding:20px;
				}

#boxes #popup 	{
  				width:375px;
  				height:203px;
  				padding:10px;
  				background-color:#ffffff;
				border-radius: 10px;
				background-color: #fffaf0;
				box-shadow: inset 1px 1px 80px #c0c0c0;
				}

.tellus	{
		text-align: center;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		font-family: 'Nunito', sans-serif;
		}

.inporigin	{
			display: block;
			margin: auto;
			margin-top: 50px;
			}

.accept		{
			position: absolute;
			left: 95px;
			bottom: 30px;
			border-radius: 5px;
			width: 200px;
			height: 30px;
			}

/*
.origin	{
		margin-left: 50px;
		padding-top: 0px;
		height: 50px;
		}
*/

./*
dest 	{
		margin-left: 50px;
		}
*/

/*
.hwin	{
		display: inline-block;
		}
*/


/* OCEANIA */

.oceania-1	{
			width: 160px;
			height: 140px;
			position: absolute;
			top: 500px;
			left: 1030px;
			border-radius: 40px;
			}

.oceania-2	{
			width: 87px;
			height: 45px;
			position: absolute;
			top: 450px;
			right: 150px;
			border-radius: 10px;
			}

.oceania-3	{
			width: 57px;
			height: 75px;
			position: absolute;
			top: 580px;
			right: 50px;
			border-radius: 10px;
			}

.selectoc	{
			background-color: rgba(255, 0, 0, 0.3);
			}

/* EUROPE */

.europe-1	{
			width: 150px;
			height: 140px;
			position: absolute;
			top: 180px;
			left: 570px;
			border-radius: 30px;
			border-top-right-radius: 0px;
			}

.europe-2	{
			width: 100px;
			height: 110px;
			position: absolute;
			top: 70px;
			left: 630px;			
			border-top-right-radius: 30px;
			border-bottom-left-radius: 0px;
			border-top-left-radius: 100px;
			border-bottom-right-radius: 15px;
			}

.europe-3	{
			width: 60px;
			height: 50px;
			position: absolute;
			top: 110px;
			left: 515px;
			border-radius: 15px;
			}

.europe-4	{
			width: 50px;
			height: 75px;
			position: absolute;
			top: 200px;
			left: 720px;
			border-top-right-radius: 50px;
			border-bottom-right-radius: 30px;
			}

.selecteu	{
			background-color: rgba(0, 153, 255, 0.4);
			}
