header{
	width: 100%;
	/*padding-top: 2rem;*/
	padding-bottom: 1rem;
	background-image: url(../images/professionalpattern.jpg);
	background-size: 100%;
	border-bottom: 1px solid black;
}

body {
	width: 100%;
	height: 1000px;
	/*background-image: url(../images/nubes.jpg);*/
	/*background-size: 100% 100%*/
	background-color: #707070;
}

footer 	{
		width: 100%;
		height: 150px;
		background-color: white;
		position: relative;
		bottom: -70px;
		border-top: 1px solid black;
}

.divLeft	{
			width: 165px;
			height: 620px;
			position: absolute;
			float: left;
			left: 0px;
			top: 230px;
			/*background-color: white;*/
			background-image: url(../images/nubes.jpg);
			border-right: 1px solid black;
}

.divRight	{
			width: 165px;
			height: 620px;
			position: absolute;
			float: right;
			right: 0px;
			top: 230px;
			/*background-color: white;*/
			background-image: url(../images/nubes.jpg);
			border-left: 1px solid black;
}

/* Oval behind the map */

.oval 	{
		height: 550px;
		position: relative;
		border-radius: 55%;
		top: 70px;
		}


.bd {
	width: 75%;
	/*margin-left: 75px;*/
	position: relative;
	top: 61px;
	left: 170px;
}

#checkbox_id {
	display:inline-block;
	vertical-align: top;
}

#mapamundo {
	display: block;
}



.spain {
	display: block;
	position: absolute;
	top: 24.4%;
	left: 41.9%;
}

.spaingreen {
	display: block;
	position: absolute;
	top: 24.4%;
	left: 41.9%;
}



.portugal {
	display: block;
	position: absolute;
	top: 26.75%;
	left: 41.4%;
}

.francia {
	display: block;
	position: absolute;
	top: 20.1%;
	left: 43.6%;
}

.unitedkingdom {
	display: block;
	position: absolute;
	top: 12.8%;
	left: 42%;
}

.italia {
	display: block;
	position: absolute;
	top: 23.6%;
	left: 45.7%;
}

.suiza {
	display: block;
	position: absolute;
	top: 21.9%;
	left: 45.9%;
}

.alemania {
	display: block;
	position: absolute;
	top: 17%;
	left: 45.9%;
}

.luxemburgo {
	display: block;
	position: absolute;
	top: 20.9%;
	left: 46%;
}

.belgica {
	display: block;
	position: absolute;
	top: 19.5%;
	left: 45.1%;
}

.holanda {
	display: block;
	position: absolute;
	top: 18.4%;
	left: 45.35%;
}

.austria {
	display: block;
	position: absolute;
	top: 21.8%;
	left: 46.9%;
}

.eslovenia {
	display: block;
	position: absolute;
	top: 23%;
	left: 47.6%;
}

.croacia {
	display: block;
	position: absolute;
	top: 23.8%;
	left: 48%;
}

.bosnia {
	display: block;
	position: absolute;
	top: 24.6%;
	left: 48.5%;
}

.montenegro {
	display: block;
	position: absolute;
	top: 25.9%;
	left: 49.15%;
}

.serbia {
	display: block;
	position: absolute;
	top: 24%;
	left: 49.15%;
}

.display {
	display: none;
}


.sectionform {
	width: 17rem;
	height: 17rem;
	border-radius: 100%;
	text-align: center;
	border: 2px solid white;
	color: white;
	/*vertical-align: top;*/
	position: relative;
	/*transition:all 1s ease-out;*/
	background-color: rgb(30, 87, 26);
	margin-bottom: 15%;
}

#goButton {
	width: 100px;
	height: 25px;
}

#origin {
	width: 170px;
	height: 25px;
}

#dateOr {
	width: 170px;
	height: 25px;
}

#destination {
	width: 170px;
	height: 25px;
}

#dateDest {
	width: 170px;
	height: 25px;
}

.ilblock{
	display: inline-block;
}

.block{
	display: block;
}

.inline{
	display: inline;
}

.hCenter{
	margin: 0 auto;
	text-align: center;
}

.divHidden1 {
	visibility: hidden;
	width: 15%;
	height: 1%;
	background-color: black;
}

.divHidden2 {
	visibility: hidden;
	width: 13%;
	height: 1%;
	background-color: black;
}

.logo{
	background-color: darkblue;
	width: 10%;
	height: 2rem;
	font-size: 1.3rem;
	border: 2px solid white;
	border-radius: 1rem;
	padding: 0.5rem;
	vertical-align: top;
	color: white;

}

.slogan{
	background-color: darkblue;
	width: 40%;
	font-size: 1.75rem;
	border: 2px solid white;
	border-radius: 1rem;
	padding: 0.5rem;
	vertical-align: top;
	color: white;
}

.account{
	background-color: darkblue;
	width: 12%;
	list-style: none;
	border-radius: 1rem;
	border: 2px solid white;
	font-size: 1rem;
	padding: 0.5rem;
	vertical-align: top;
}

.aStyle{
	color: white;
}

.section1{
	width: 75%;
	margin: 0 auto;
	height: 15rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
	text-align: center;

}

.window{
	width: 15rem;
	height: 15rem;
	border-radius: 100%;
	text-align: center;
	border: 2px solid white;
	color: white;
	/*vertical-align: top;*/
	position: relative;
	/*transition:all 1s ease-out;*/
}

.window:hover{
	color: green;
	box-shadow: 10px 10px 5px 2px green;
}



.window2{
	background-color: rgb(30, 87, 26);	
}

.window3{
	background-color: rgb(199, 23, 49);
	font-size: 1.8rem;
}

.divHidden {
	visibility: hidden;
	width: 5%;
	height: 1%;
	background-color: black;
}

.ipMargin{
	margin-bottom: 10px;
}

/* Sergio Div France */

.franceDiv	{
			width: 18px;
			height: 18px;
			position: absolute;
			top: 451px;
			left: 617px;
			border-radius: 10%;
			transform: scale(1);
			transition: all 0.5s;
			}

.franceDiv:hover	{
					transform: scale(3);
					background-color: rgba(255, 255, 255, 0.5);
					height: 60px;
					width: 85px;
					}

.francetitle	{
				display: none;
				text-align: center;
				margin-top: 5%;
				font-size: 8px;
				}

.franceDiv:hover .francetitle	{
								display: block;
								}

.citiesFranceOne	{
					width: 29px;
					height: 35px;
					display: none;
					position: absolute;
					top: 12px;
					left: 4px;
					font-size: 5px;
					}

.citiesFranceTwo	{
					width: 29px;
					height: 35px;
					display: none;
					position: absolute;
					top: 12px;
					left: 43px;
					font-size: 5px;
					}

.franceDiv:hover .citiesFranceOne	{
									display: block;
									float: left;
									}

.franceDiv:hover .citiesFranceTwo	{
									display: block;
									float: right;
									}

.ulOne	{
		position: absolute;
		top: 2px;
		left: 2px;
		width: 40px;
		}

.ulTwo	{
		position: absolute;
		top: 2px;
		left: 2px;
		width: 35px;
		}

.cityLinks	{
			margin-bottom: 3px;
			}

.addBut	{
		display: none;
		font-size: 3px;
		width: 13px;
		padding: 0px;
		margin: 0px;
		margin-right: 2px;
		}

.franceDiv:hover .addBut	{
							display: inline-block;
							}

/* Miguel Form */

.mainForm {
	position: absolute;
	border: 1px double black;
	width: 27%;
	left: 510px;
	top: 50px;
	box-shadow:  1px 1px 20px grey;
}

.titleBox{
	/*border-radius: 1rem;*/
	padding: 0.5rem;
	color: black;
}

/*.mainForm::after	{
					content: "";
  					background: url(../images/nubes.jpg);
  					opacity: 0.5;
  					top: 0;
  					left: 0;
  					bottom: 0;
  					right: 0;
  					position: absolute;
  					z-index: -1;
					}*/

.inputB	{
		display: none;
		}


/* Footer style */

.imgFooter	{
			display: inline-block;
			position: relative;
			top: 10px;
			left: 100px;
			margin-left: 140px;
}

.footerList	{
			list-style: none;
			position: relative;
			left: 300px;
			top: 54px;
}

.footerList li 	{
				display: inline-block;
				margin-left: 100px;
				}

.footerList li > a {
					color: black;
					text-decoration: none;
}

.footerList li > a:hover 	{
							color: grey;
}
