.sectionform {
	width: 17rem;
	height: 17rem;
	border-radius: 100%;
	text-align: center;
	border: 2px solid white;
	color: white;
	/*vertical-align: top;*/
	position: relative;
	/*transition:all 1s ease-out;*/
	background-color: rgb(30, 87, 26);
	margin-bottom: 15%;
}

#goButton {
	width: 100px;
	height: 25px;
}

#origin {
	width: 170px;
	height: 25px;
}

#dateOr {
	width: 170px;
	height: 25px;
}

#destination {
	width: 170px;
	height: 25px;
}

#dateDest {
	width: 170px;
	height: 25px;
}

.ilblock{
	display: inline-block;
}

.block{
	display: block;
}

.inline{
	display: inline;
}

.mainForm {
	position: absolute;
	border: 1px double black;
	width: 27%;
	left: 510px;
	top: 50px;
	box-shadow:  1px 1px 20px grey;
}

.titleBox{
	/*border-radius: 1rem;*/
	padding: 0.5rem;
	color: black;
}

.inputB	{
		display: none;
		}