<!DOCTYPE html>
<html>
<head>
  <title>DMSTrips</title>
  <%= stylesheet_link_tag    'applicationmadrid', media: 'all' %>
  <%= javascript_include_tag 'applicationmadrid' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
